body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3{
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 1rem;
    border-radius: 50%;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

nav ul li a.active {
    background-color: #555;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: #fff;
    height: 3px;
    margin: 5px;
    width: 25px;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.home {
    text-align: center;
}

.cta-buttons {
    margin-top: 1rem;
}

.cta-buttons .btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: background-color 0.3s ease;
}

.cta-buttons .btn:hover {
    background-color: #444;
}

.about {
    margin-top: 2rem;
}

.about h2 {
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.about-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text {
    max-width: 600px;
}

.about-text p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.proyecto-container,
.curso-container,
.certificado-container {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.project-card img,
.curso-card img,
.certificado-card img {
    width: 100%;
    max-height: 256px;
    object-fit: cover;
    box-shadow: 6px rgba(0, 0, 0, 0.2);
}

.project-card .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.project-card p {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.project-card .btn {
    align-self: flex-end;
}

.proyecto-card,
.curso-card,
.certificado-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.imagen-card {
    width: 90%;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        flex-direction: column;
        display: none;
        z-index: 1000; /* Asegurarse de que el menú tenga un z-index alto */
    }

    nav.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 5px;
    }

    nav ul li a {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    nav ul li a:last-child {
        border-bottom: none;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-photo {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .proyecto-container,
    .curso-container,
    .certificado-container {
        grid-template-columns: 1fr;
    }

    /* Eliminar la animación en dispositivos móviles */
    nav ul li a:hover {
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .menu-toggle {
        display: flex;
    }

    .cta-buttons .btn {
        max-width: fit-content;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-photo {
        width: 100px;
        height: 100px;
    }

    form {
        padding: 1rem;
    }

    form label {
        margin-bottom: 0.3rem;
    }

    form input,
    form textarea {
        padding: 0.3rem;
        margin-bottom: 0.8rem;
    }

    nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        flex-direction: column;
        display: none;
        z-index: 1000; /* Asegurarse de que el menú tenga un z-index alto */
    }

    nav.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 7px;
    }

    nav ul li a {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    nav ul li a:last-child {
        border-bottom: none;
    }

    /* Eliminar la animación en dispositivos móviles */
    nav ul li a:hover {
        background-color: transparent;
    }
}
